* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Italiana", serif;
}

/* nav starts */
.menu_container {
  display: flex;
  justify-content: space-evenly;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
}
.menu_items {
  display: flex;
}
.menu_items li {
  list-style: none;
}
